/* src/components/Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #053518;
  color: white;
}

.navbar-logo {
  font-size: 1.5rem;
}

.nav-links,
.nav-links-mobile {
  list-style: none;
  display: flex;
  margin: 2px;
  padding: 0;
}

.nav-links-mobile {
  display: none;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #2874f0;
  text-align: left;
  z-index: 1;
}

.nav-item {
  margin: 0 10px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: rgba(163, 131, 131, 0.619);
  border-radius: 5px;
}

.active {
  background-color: #cf2308;
  border-radius: 5px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
    margin: 10px;
  }

  .nav-links-mobile {
    display: flex;
    padding-top: 20px;
    margin-left: 0px; /* Align tabs on the left */
  }

  .nav-item {
    vertical-align: 20px;
    margin: 30px 20px;
    padding: 5px;
  }
}
